.bottom{
    position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/ 
            height: 70px;
            background: grey;
            text-align: center ;
            font-size: large;
            line-height: 20px;
            margin-left: 8px;
}
